name: CI

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/ci.yml
      - RecreateSolutionStructure/**
      - RecreateSolutionStructure.Tests/**
  pull_request:
    branches:
      - main
      - release
    paths:
    - .github/workflows/ci.yml
    - RecreateSolutionStructure/**
    - RecreateSolutionStructure.Tests/**

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Prepare .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '7.0.x'

    - name: Test with dotnet
      run: dotnet test SolutionFilterGenerator.sln  --collect "XPlat Code Coverage" --logger GitHubActions

    - if: matrix.os == 'ubuntu-latest'
      name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v3
      with:
        directory: SolutionFilterGenerator.Tests/TestResults
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}
